

#sec-banner{
    .bnr-wrap {
        width: 100%;
        height: 760px;
        // overflow: hidden;
        .bnr-track{
            width: 100%;
            height: 100%;
            display: flex;
            .bnr-sec01, .bnr-sec02, .bnr-sec03 {
                flex: 0 0 100%;
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

            .bnr-sec03 {
                position: relative;

                .bnr-btn {
                    position: absolute;
                    bottom: 12rem;
                    left: 15rem;
                    font-size: 30px;
                    font-weight: 700;
                    padding: 0.5rem 1.5rem;
                    border-radius: 5rem;
                    background-color: var(--hover-light-blue);
                    color: white;
                    cursor: pointer;

                    &:hover {
                    background-color: #0F4E77;
                    transition: 0.3s;
                }
                }
            }
        }
    }
}